<a href="https://colab.research.google.com/github/salmauliaimm/data_pd4.csv-/blob/main/Salma_Aulia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Biodata Pemilik Notebook

```
Nama  : Salma Aulia Imama
NIM   : 2200015009
PD    : 4.0
Kelas : Dasar
email : 2200015009@webmail.uad.ac.id
```

## Pernyataan

Dengan ini saya menyatakan bahwa `Final Project Kelas Dasar 4.0` dikerjakan oleh saya sendiri tanpa ada bantuan dari orang lain.

# Soal 1

Buatlah dua list dan diberi nama `Nama` dan `NIM`. Datanya sebagai berikut.

|Nama|NIM|
|---|---|
|||
|Wisnu Catur Rachmad tulloh |2100015049|
|Sindy Mei Marantika|2100015041|
|Zakiah Intan Maula	|2100015043|
|Januar Nur Rasyid	|2100015006|
|Lisa Nessa Safitri	|2100015037|
|Hasan Darmawan	|2215015035|
|SAIFUL ANDIKA	|2100015051|
|Maya Isafa Sam Saputri| 	2200015023|
|Didi Cahyadi	|2200015012|
|Izza Anggitha Aryanawa| 	2200015032|
|Khusnul Khotimah	|2100015009|
|Badzliana Aqmar Suris 	|2100015016|
|Anggit Larasati	|2100015036|
|Sona Regina Salsabila	|2100015053|
|LELY AMALIA SAPUTRI	|2100015050|
|Nastasya Dewi	|2100015010|
|Ragita Anillya Putri Prasetianto|	2100015002|
|Muhammad Fatah Hidayat	|2200015002|
|Dwi Agustia	|2000015016|
|Nia Andriani Laila	|2000015002|
|Winarsi J. Bidul	|2000015011|
|Heru Pranoto	|2211015008|
|Reynaldi Ikbar Surya Andhika| 	2200015007|
|Muhammad Rafiq Amrullah|	2200015028|
|Muhammad Mujahid Al-makky	|2200015006|
|Fauzi Ramadhan	|2000015018|
|Vinna Rahmasari|	2000015023|
|Shintia Yulita Sari|	1900015057|
|Maretta Mia Audina|	2200015010|
|Salma Aulia Imama 	|2200015009|
|Dhea Emma Karniasari 	|2200015024|
|Khoirun Nisya|	2200015033|
|PUSPITA AMBARWATI|	2000015022|

In [ ]:
Nama = ["Wisnu Catur Rachmad tulloh","Sindy Mei Marantika","Zakiah Intan Maula", "Januar Nur Rasyid","Lisa Nessa Safitri","Hasan Darmawan","SAIFUL ANDIKA","Maya Isafa Sam Saputri","Didi Cahyadi","Izza Anggitha Aryanawa","Khusnul Khotimah","Badzliana Aqmar Suris","Anggit Larasati","Sona Regina Salsabila","LELY AMALIA SAPUTRI","Nastasya Dewi","Ragita Anillya Putri Prasetianto","Muhammad Fatah Hidayat","Dwi Agustia","Nia Andriani Laila","Winarsi J. Bidul","Heru Pranoto","Reynaldi Ikbar Surya Andhika","Muhammad Rafiq Amrullah","Muhammad Mujahid Al-makky","Fauzi Ramadhan","Vinna Rahmasari","Shintia Yulita Sari","Maretta Mia Audina","Salma Aulia Imama","Dhea Emma Karniasari","Khoirun Nisya","PUSPITA AMBARWATI"]
Nama

['Wisnu Catur Rachmad tulloh',
 'Sindy Mei Marantika',
 'Zakiah Intan Maula',
 'Januar Nur Rasyid',
 'Lisa Nessa Safitri',
 'Hasan Darmawan',
 'SAIFUL ANDIKA',
 'Maya Isafa Sam Saputri',
 'Didi Cahyadi',
 'Izza Anggitha Aryanawa',
 'Khusnul Khotimah',
 'Badzliana Aqmar Suris',
 'Anggit Larasati',
 'Sona Regina Salsabila',
 'LELY AMALIA SAPUTRI',
 'Nastasya Dewi',
 'Ragita Anillya Putri Prasetianto',
 'Muhammad Fatah Hidayat',
 'Dwi Agustia',
 'Nia Andriani Laila',
 'Winarsi J. Bidul',
 'Heru Pranoto',
 'Reynaldi Ikbar Surya Andhika',
 'Muhammad Rafiq Amrullah',
 'Muhammad Mujahid Al-makky',
 'Fauzi Ramadhan',
 'Vinna Rahmasari',
 'Shintia Yulita Sari',
 'Maretta Mia Audina',
 'Salma Aulia Imama',
 'Dhea Emma Karniasari',
 'Khoirun Nisya',
 'PUSPITA AMBARWATI']

In [ ]:
NIM = ["2100015049","2100015041","2100015043","2100015006","2100015037","2215015035","2100015051","2200015023","2200015012","2200015032","2100015009","2100015016","2000015002","2000015011","2211015008","2200015007","2200015028","2200015006","2000015018","2000015023","1900015057","2200015010","2200015009","2200015024","2200015033","2000015022"]
NIM

['2100015049',
 '2100015041',
 '2100015043',
 '2100015006',
 '2100015037',
 '2215015035',
 '2100015051',
 '2200015023',
 '2200015012',
 '2200015032',
 '2100015009',
 '2100015016',
 '2000015002',
 '2000015011',
 '2211015008',
 '2200015007',
 '2200015028',
 '2200015006',
 '2000015018',
 '2000015023',
 '1900015057',
 '2200015010',
 '2200015009',
 '2200015024',
 '2200015033',
 '2000015022']

# Soal 2

Selanjutnya dari data diatas buatlah sebuah variabel `Angkatan` yang diperoleh dengan melakukan perulangan dan if statment pada variabel `NIM`.

In [ ]:
NIM = 1900015057
if 1900000000 <= NIM < 2000000000:
  print(NIM, "adalah angkatan 2019")
if 2000000000 <= NIM < 2100000000:
  print(NIM, "adalah angkatan 2020")
if 2100000000 <= NIM < 2200000000:
  print(NIM, "adalah angkatan 2021")
if 2200000000 <= NIM < 2300000000:
  print(NIM, "adalah angkatan 2022")

1900015057 adalah angkatan 2019

In [ ]:
NIM = 2000015018
if 1900000000 <= NIM < 2000000000:
  print(NIM, "adalah angkatan 2019")
if 2000000000 <= NIM < 2100000000:
  print(NIM, "adalah angkatan 2020")
if 2100000000 <= NIM < 2200000000:
  print(NIM, "adalah angkatan 2021")
if 2200000000 <= NIM < 2300000000:
  print(NIM, "adalah angkatan 2022")

2000015018 adalah angkatan 2020

In [ ]:
NIM = 2100015049
if 1900000000 <= NIM < 2000000000:
  print(NIM, "adalah angkatan 2019")
if 2000000000 <= NIM < 2100000000:
  print(NIM, "adalah angkatan 2020")
if 2100000000 <= NIM < 2200000000:
  print(NIM, "adalah angkatan 2021")
if 2200000000 <= NIM < 2300000000:
  print(NIM, "adalah angkatan 2022")

2100015049 adalah angkatan 2021

In [ ]:
NIM = 2200015033
if 1900000000 <= NIM < 2000000000:
  print(NIM, "adalah angkatan 2019")
if 2000000000 <= NIM < 2100000000:
  print(NIM, "adalah angkatan 2020")
if 2100000000 <= NIM < 2200000000:
  print(NIM, "adalah angkatan 2021")
if 2200000000 <= NIM < 2300000000:
  print(NIM, "adalah angkatan 2022")

2200015033 adalah angkatan 2022

# Soal 3

Setelah menemukan variabel `Angkatan` silahkan untuk membuat dictionary `Nama`,`NIM`, dan `Angkatan`.

In [1]:
data_peserta = {
    'Wisnu Catur Rachmad tulloh' : 'NIM 2100015049 Angkatan 2021',
    'Sindy Mei Marantika' : 'NIM 2100015041 Angkatan 2021',
    'Zakiah Intan Maula' : 'NIM 2100015043 Angkatan 2021',
    'Januar Nur Rasyid' : 'NIM 2100015006 Angkatan 2021',
    'Lisa Nessa Safitri' : 'NIM 2100015037 Angkatan 2021',
    'Hasan Darmawan' : 'NIM 2215015035 Angkatan 2022',
    'SAIFUL ANDIKA' : 'NIM 2100015051 Angkatan 2021',
    'Maya Isafa Sam Saputri' : 'NIM 2200015023 Angkatan 2022',
    'Didi Cahyadi' : 'NIM 2200015012 Angkatan 2022',
    'Izza Anggita Aryawana' : ' NIM 2200015032 Angkatan 2022',
    'Khusnul Khotimah' : 'NIM 2100015009 Angkatan 2021',
    'Badzliana Aqmar Suris' : 'NIM 2100015016 Angkatan 2021',
    'Anggit Larasati' : 'NIM 2100015036 Angkatan 2021',
    'LELY AMALIA SAPUTRI' : 'NIM 2100015050 Angkatan 2021',
    'Nastasya Dewi' : 'NIM 2100015010 Angkatan 2021',
    'Ragita Anillya Putri Prasetianto' : 'NIM 2100015002 Angkatan 2021',
    'Muhammad Fatah Hidayat' : 'NIM 2200015002 Angkatan 2022',
    'Dwi Agustina' : 'NIM 2000015016 Angkatan 2020',
    'Nia Andriani Laila' : 'NIM 2000015002 Angkatan 2020',
    'Winarsi J. Bidul' : 'NIM 2000015011 Angkatan 2020',
    'Heru Pranoto' : 'NIM 2211015008 Angkatan 2022',
    'Reynaldi Ikbar Surya Andhika' : 'NIM 2200015007 Angkatan 2022',
    'Muhammad Rafiq Amrullah' : 'NIM 2200015028 Angkatan 2022',
    'Muhammad Mujahid Al-makky' : 'NIM 2200015006 Angkatan 2022',
    'Fauzi Ramadhan' : 'NIM 2000015018 Angkatan 2020',
    'Vinna Rahmasari' : 'NIM 2000015023 Angkatan 2020',
    'Shintia Yulita Sari' : 'NIM 1900015057',
    'Maretta Mia Audina' : 'NIM 2200015010 Angkatan 2022',
    'Salma Aulia Imama' : 'NIM 2200015009 Angkatan 2022',
    'Dhea Emma Karniasari' : 'NIM 2200015024 Angkatan 2022',
    'Khoirun Nisya' : 'NIM 2200015033 Angkatan 2022',
    'PUSPITA AMBARWATI' : 'NIM 2000015022 Angkatan 2020'
    }
print(data_peserta['Salma Aulia Imama'])

NIM 2200015009 Angkatan 2022

# Soal 4

Lakukan convert kedalam bentuk data frame dan beri nama `df`

In [ ]:
import pandas as pd

psds = {'Nama': ['Wisnu Catur Rachmad tulloh', 'Sindy Mey Marantika', 'Zakiah Intan Maula', 'Januar Nur Rasyid', 'Lisa Nessa Safitri', 'Hasan Darmawan', 'SAIFUL ANDIKA', 'Maya Isafa Sam Saputri', 'Didi Cahyadi', 'Izza Anggita Aryanawa', 'Khusnul Khotimah', 'Badziliana Aqmar Suris', 'Anggit Larasati', 'Sona Regina Salsabila', 'LELY AMALIA SAPUTRI', 'Nastasya Dewi', 'Ragita Anillya Putri Prasetianto', 'Muhammad Fatah Hidayat', 'Dwi Agustina', 'Nia Andriani Laila', 'Winarsi J.Bidul', 'Heru Pranoto', 'Reynaldi Ikbar Surya Andhika', 'Muhammad Rafiq Amrulloh', 'Muhammad Mujahid Al-makky', 'Fauzi Ramadhan', 'Vinna Rahmasari', 'Shintia Yulita Sari', 'Maretta Mia Audina', 'Salma Aulia Imama', 'Dhe Emma Karniasari', 'Khoirun Nisya', 'PUSPITA AMBARWATI'],
         'NIM': [2100015049, 2100015041, 2100015043, 2100015006, 2100015037, 2215015035, 2100015051, 2200015023, 2200015012, 2200015033, 2100015009, 2100015016, 2100015036, 2100015053, 2100015050, 2100015010, 2100015002, 2200015002, 2000015016, 2000015002, 2000015011, 2211015008, 2200015007, 2200015028, 2200015006, 2000015018, 2000015023, 1900015057, 2200015010, 2200015009, 2200015024, 2200015033, 2000015022]
         }

df = pd.DataFrame(psds)

df

                                Nama         NIM
0         Wisnu Catur Rachmad tulloh  2100015049
1                Sindy Mey Marantika  2100015041
2                 Zakiah Intan Maula  2100015043
3                  Januar Nur Rasyid  2100015006
4                 Lisa Nessa Safitri  2100015037
5                     Hasan Darmawan  2215015035
6                      SAIFUL ANDIKA  2100015051
7             Maya Isafa Sam Saputri  2200015023
8                       Didi Cahyadi  2200015012
9              Izza Anggita Aryanawa  2200015033
10                  Khusnul Khotimah  2100015009
11            Badziliana Aqmar Suris  2100015016
12                   Anggit Larasati  2100015036
13             Sona Regina Salsabila  2100015053
14               LELY AMALIA SAPUTRI  2100015050
15                     Nastasya Dewi  2100015010
16  Ragita Anillya Putri Prasetianto  2100015002
17            Muhammad Fatah Hidayat  2200015002
18                      Dwi Agustina  2000015016
19                Nia Andriani Laila  2000015002
20                   Winarsi J.Bidul  2000015011
21                      Heru Pranoto  2211015008
22      Reynaldi Ikbar Surya Andhika  2200015007
23           Muhammad Rafiq Amrulloh  2200015028
24         Muhammad Mujahid Al-makky  2200015006
25                    Fauzi Ramadhan  2000015018
26                   Vinna Rahmasari  2000015023
27               Shintia Yulita Sari  1900015057
28                Maretta Mia Audina  2200015010
29                 Salma Aulia Imama  2200015009
30               Dhe Emma Karniasari  2200015024
31                     Khoirun Nisya  2200015033
32                 PUSPITA AMBARWATI  2000015022

# Soal 5

Buatlah Visualisasi dengan menggunakan `pie chart` dengan menunjukan banyaknya orang setiap angkatan yang mengikuti PD 4.0

In [ ]:
import plotly.graph_objects as go

labels = ['Angkatan 2019', 'Angkatan 2020', 'Angkatan 2021', 'Angkatan 2022']
values = [1, 5, 13, 13]

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.show()

# Soal 6

Lakukan penyimpanan data frame df ke dalam bentuk csv dengan nama data_pd4.csv

In [ ]:
df.to_csv('data_pd4.csv')

# Soal 7

Buatlah data frame dengan nama `df1` dari file csv `iris.csv`

In [ ]:
import pandas as pd
df1 = pd.read_csv('/content/iris.csv')
print(df1)

    Unnamed: 0                              Nama         NIM
0            0        Wisnu Catur Rachmad tulloh  2100015049
1            1               Sindy Mey Marantika  2100015041
2            2                Zakiah Intan Maula  2100015043
3            3                 Januar Nur Rasyid  2100015006
4            4                Lisa Nessa Safitri  2100015037
5            5                    Hasan Darmawan  2215015035
6            6                     SAIFUL ANDIKA  2100015051
7            7            Maya Isafa Sam Saputri  2200015023
8            8                      Didi Cahyadi  2200015012
9            9             Izza Anggita Aryanawa  2200015033
10          10                  Khusnul Khotimah  2100015009
11          11            Badziliana Aqmar Suris  2100015016
12          12                   Anggit Larasati  2100015036
13          13             Sona Regina Salsabila  2100015053
14          14               LELY AMALIA SAPUTRI  2100015050
15          15                     Nastasya Dewi  2100015010
16          16  Ragita Anillya Putri Prasetianto  2100015002
17          17            Muhammad Fatah Hidayat  2200015002
18          18                      Dwi Agustina  2000015016
19          19                Nia Andriani Laila  2000015002
20          20                   Winarsi J.Bidul  2000015011
21          21                      Heru Pranoto  2211015008
22          22      Reynaldi Ikbar Surya Andhika  2200015007
23          23           Muhammad Rafiq Amrulloh  2200015028
24          24         Muhammad Mujahid Al-makky  2200015006
25          25                    Fauzi Ramadhan  2000015018
26          26                   Vinna Rahmasari  2000015023
27          27               Shintia Yulita Sari  1900015057
28          28                Maretta Mia Audina  2200015010
29          29                 Salma Aulia Imama  2200015009
30          30               Dhe Emma Karniasari  2200015024
31          31                     Khoirun Nisya  2200015033
32          32                 PUSPITA AMBARWATI  2000015022

# Soal 8

Uplod `data_pd4.csv` kedalam github masing-masing lalu lakukan pembacaan data melalui raw.github dengan mencantumkan link data pada github. Lalu buatlah data frame dengan nama `df2`

In [5]:
import pandas as pd
df2 = pd.read_csv('https://raw.githubusercontent.com/KhoirunNisya10/Khoirun-Nisya/main/data_pd4.csv')
print(df2)

    Unnamed: 0                              Nama         NIM
0            0        Wisnu Catur Rachmad tulloh  2100015049
1            1               Sindy Mey Marantika  2100015041
2            2                Zakiah Intan Maula  2100015043
3            3                 Januar Nur Rasyid  2100015006
4            4                Lisa Nessa Safitri  2100015037
5            5                    Hasan Darmawan  2215015035
6            6                     SAIFUL ANDIKA  2100015051
7            7            Maya Isafa Sam Saputri  2200015023
8            8                      Didi Cahyadi  2200015012
9            9             Izza Anggita Aryanawa  2200015033
10          10                  Khusnul Khotimah  2100015009
11          11            Badziliana Aqmar Suris  2100015016
12          12                   Anggit Larasati  2100015036
13          13             Sona Regina Salsabila  2100015053
14          14               LELY AMALIA SAPUTRI  2100015050
15          15                     Nastasya Dewi  2100015010
16          16  Ragita Anillya Putri Prasetianto  2100015002
17          17            Muhammad Fatah Hidayat  2200015002
18          18                      Dwi Agustina  2000015016
19          19                Nia Andriani Laila  2000015002
20          20                   Winarsi J.Bidul  2000015011
21          21                      Heru Pranoto  2211015008
22          22      Reynaldi Ikbar Surya Andhika  2200015007
23          23           Muhammad Rafiq Amrulloh  2200015028
24          24         Muhammad Mujahid Al-makky  2200015006
25          25                    Fauzi Ramadhan  2000015018
26          26                   Vinna Rahmasari  2000015023
27          27               Shintia Yulita Sari  1900015057
28          28                Maretta Mia Audina  2200015010
29          29                 Salma Aulia Imama  2200015009
30          30               Dhe Emma Karniasari  2200015024
31          31                     Khoirun Nisya  2200015033
32          32                 PUSPITA AMBARWATI  2000015022